In [3]:
import pandas as pd

In [13]:
from sklearn.preprocessing import LabelEncoder

data = ['junior', 'manager', 'senior', 'junior', 'manager', 'senior', 'junior', 'manager', 'senior', 'junior',
        'manager', 'senior', 'junior', 'manager', 'senior', 'junior', 'manager', 'senior', 'junior', 'manager']
s = pd.Series(data)
print("Original Series:")
print(s)

Original Series:
0      junior
1     manager
2      senior
3      junior
4     manager
5      senior
6      junior
7     manager
8      senior
9      junior
10    manager
11     senior
12     junior
13    manager
14     senior
15     junior
16    manager
17     senior
18     junior
19    manager
dtype: object

In [15]:
label_encoder = LabelEncoder()
label = label_encoder.fit_transform(s)
print("Label Encoded Values:")
print(label)

Label Encoded Values:
[0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1]

In [25]:
onehot = pd.get_dummies(s, prefix="Category").astype(int)
print("One-Hot Encoded DataFrame:")
print(onehot)

One-Hot Encoded DataFrame:
    Category_junior  Category_manager  Category_senior
0                 1                 0                0
1                 0                 1                0
2                 0                 0                1
3                 1                 0                0
4                 0                 1                0
5                 0                 0                1
6                 1                 0                0
7                 0                 1                0
8                 0                 0                1
9                 1                 0                0
10                0                 1                0
11                0                 0                1
12                1                 0                0
13                0                 1                0
14                0                 0                1
15                1                 0                0
16                0                 1                0
17                0                 0                1
18                1                 0                0
19                0                 1                0

In [27]:
df=pd.read_csv(r"C:\Users\vedap\Downloads\loan_approved.csv")
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Loan_ID                 614 non-null    object
 1   Gender                  601 non-null    object
 2   Married                 611 non-null    object
 3   Dependents              599 non-null    object
 4   Education               614 non-null    object
 5   Self_Employed           582 non-null    object
 6   ApplicantIncome         614 non-null    int64
 7   CoapplicantIncome       614 non-null    float64
 8   LoanAmount              592 non-null    float64
 9   Loan_Amount_Term        600 non-null    float64
 10  Credit_History          564 non-null    float64
 11  Property_Area           614 non-null    object
 12  Loan_Status (Approved)  614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [31]:
numeric_cols = df.select_dtypes(include=['number']).columns
print(numeric_cols)

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [33]:
categorical_cols=df.select_dtypes(include=['object','category']).columns
print(categorical_cols)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status (Approved)'],
      dtype='object')

In [35]:
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [37]:
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [39]:
df.head(14)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,No,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N

In [41]:
df.tail(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,0,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,No,416,41667.0,350.0,180.0,1.0,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,No,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,128.0,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [63]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [49]:
df_onehot_gender = pd.get_dummies(df['Gender'], prefix="categorical").head(5).astype(int)
print(df_onehot_gender)

   categorical_Female  categorical_Male
0                   0                 1
1                   0                 1
2                   0                 1
3                   0                 1
4                   0                 1

In [67]:
df['Property_Area']=le.fit_transform(df['Property_Area'])

In [69]:
df['Loan_Amount_Term']=le.fit_transform(df['Loan_Amount_Term'])

In [74]:
df.to_csv(r'C:\Users\vedap\Downloads\preprocessed_loan.csv', index=False)

In [76]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,1,No,0,Graduate,No,5849,0.0,128.0,8,1.0,2,Y
1,LP001003,1,Yes,1,Graduate,No,4583,1508.0,128.0,8,1.0,0,N
2,LP001005,1,Yes,0,Graduate,Yes,3000,0.0,66.0,8,1.0,2,Y
3,LP001006,1,Yes,0,Not Graduate,No,2583,2358.0,120.0,8,1.0,2,Y
4,LP001008,1,No,0,Graduate,No,6000,0.0,141.0,8,1.0,2,Y

In [84]:
from sklearn.preprocessing import PowerTransformer
trans=PowerTransformer(method='yeo-johnson')

In [86]:
la_trans=trans.fit_transform(df[['CoapplicantIncome']])
la_trans.shape

(614, 1)