In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vedap\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vedap\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vedap\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vedap\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vedap\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vedap\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
a_list=[1,3,5,7,9]
ser=pd.Series(a_list,index=['1st','2nd','3rd','4th','5th'])
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [3]:
a_dict={'1st':1,'2nd':3,'3rd':5,'4th':7,'5th':9}
ser=pd.Series(a_dict)
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [4]:
student_scores={'Declan':98,'Hasley':97,'Charlie':87,'Eva':66,'Celine':54,'Adam':85,'Armia':93,'Jonah':76,'Sane':56}
scores=pd.Series(student_scores)
scores
print("Charlie's score:", scores['Charlie'])
print("Eva's score:", scores["Eva"])

Charlie's score: 87
Eva's score: 66

In [5]:
updated_scores=scores+5
print(updated_scores)

Declan     103
Hasley     102
Charlie     92
Eva         71
Celine      59
Adam        90
Armia       98
Jonah       81
Sane        61
dtype: int64

In [6]:
print(scores[scores>90])

Declan    98
Hasley    97
Armia     93
dtype: int64

In [7]:
print(round(updated_scores.mean(),2))

84.11

In [8]:
an_array=np.array([[25,85],[25,90],[26,70],[24,80]])
ser=pd.DataFrame(an_array,index=['Rukshan','Prasadi','gihan','Hansana'],columns=['age','marks'])
ser

         age  marks
Rukshan   25     85
Prasadi   25     90
gihan     26     70
Hansana   24     80

In [9]:
ser.values

array([[25, 85],
       [25, 90],
       [26, 70],
       [24, 80]])

In [10]:
ser.index

Index(['Rukshan', 'Prasadi', 'gihan', 'Hansana'], dtype='object')

In [11]:
ser.columns

Index(['age', 'marks'], dtype='object')

In [12]:
a_dict={'name':{'T':'Teju','J':'Jahnavi','D':'Deepthi','V':'Veda'},'age':{'T':25,'J':25,'D':26,'V':24},'marks':{'T':85,'J':90,'D':70,'V':80}}
df=pd.DataFrame(a_dict)
df

      name  age  marks
T     Teju   25     85
J  Jahnavi   25     90
D  Deepthi   26     70
V     Veda   24     80

In [13]:
df.index

Index(['T', 'J', 'D', 'V'], dtype='object')

In [14]:
df.columns

Index(['name', 'age', 'marks'], dtype='object')

In [15]:
df.values

array([['Teju', 25, 85],
       ['Jahnavi', 25, 90],
       ['Deepthi', 26, 70],
       ['Veda', 24, 80]], dtype=object)

In [16]:
df.values.ndim

2

In [17]:
df.values.shape

(4, 3)

In [18]:
ser1=pd.Series(['Teju','Jahnavi','Deepthi','Veda'],index=['T','J','D','V'])
ser2=pd.Series([25,25,26,24],index=['T','J','D','V'])
ser3=pd.Series([85,90,70,80],index=['T','J','D','V'])
a_dict={'name':ser1,'age':ser2,'marks':ser3}
df=pd.DataFrame(a_dict)
df

      name  age  marks
T     Teju   25     85
J  Jahnavi   25     90
D  Deepthi   26     70
V     Veda   24     80

In [19]:
print(df[df["marks"] == df["marks"].max()])

      name  age  marks
J  Jahnavi   25     90

In [20]:
new_row = pd.Series({'name': 'Tharushi', 'age': 23, 'marks': 88}, name='Th')
df = df._append(new_row)
print(df)

        name  age  marks
T       Teju   25     85
J    Jahnavi   25     90
D    Deepthi   26     70
V       Veda   24     80
Th  Tharushi   23     88

In [21]:
print(df[df['age']>=25])

      name  age  marks
T     Teju   25     85
J  Jahnavi   25     90
D  Deepthi   26     70

In [22]:
df.loc[df['marks'] < 90, 'marks'] += 10
print(df)

        name  age  marks
T       Teju   25     95
J    Jahnavi   25     90
D    Deepthi   26     80
V       Veda   24     90
Th  Tharushi   23     98

In [23]:
print(df['marks'].mean())

90.6

In [24]:
df=pd.read_csv(r"C:\Users\vedap\Downloads\data.csv")
print(df.head())

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

In [25]:
print(df.tail())

    Duration        Date  Pulse  Maxpulse  Calories
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [27]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [28]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [29]:
new_df=df.dropna()
print(new_df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [30]:
replace_df=df.fillna(130,inplace=True)
print(replace_df)

None

In [31]:
df=df.replace(130,np.NaN)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01  110.0       NaN     409.1
1         60  2020/12/02  117.0     145.0     479.0
2         60  2020/12/03  103.0     135.0     340.0
3         45  2020/12/04  109.0     175.0     282.4
4         45  2020/12/05  117.0     148.0     406.0
5         60  2020/12/06  102.0     127.0     300.0
6         60  2020/12/07  110.0     136.0     374.0
7        450  2020/12/08  104.0     134.0     253.3
8         30  2020/12/09  109.0     133.0     195.1
9         60  2020/12/10   98.0     124.0     269.0
10        60  2020/12/11  103.0     147.0     329.3
11        60  2020/12/12  100.0     120.0     250.7
12        60  2020/12/12  100.0     120.0     250.7
13        60  2020/12/13  106.0     128.0     345.3
14        60  2020/12/14  104.0     132.0     379.3
15        60  2020/12/15   98.0     123.0     275.0
16        60  2020/12/16   98.0     120.0     215.2
17        60  2020/12/17  100.0     120.0     300.0
18        45  2020/12/18   90.0     112.0       NaN
19        60  2020/12/19  103.0     123.0     323.0
20        45  2020/12/20   97.0     125.0     243.0
21        60  2020/12/21  108.0     131.0     364.2
22        45         NaN  100.0     119.0     282.0
23        60  2020/12/23    NaN     101.0     300.0
24        45  2020/12/24  105.0     132.0     246.0
25        60  2020/12/25  102.0     126.0     334.5
26        60  2020/12/26  100.0     120.0     250.0
27        60  2020/12/27   92.0     118.0     241.0
28        60  2020/12/28  103.0     132.0       NaN
29        60  2020/12/29  100.0     132.0     280.0
30        60  2020/12/30  102.0     129.0     380.3
31        60  2020/12/31   92.0     115.0     243.0

In [32]:
x=df["Calories"].median()
median_df=df.fillna({"Calories":x},inplace=True)
print(median_df)

None

In [33]:
x=df["Calories"].mode()[0]
df.fillna({"Calories":x},inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01  110.0       NaN     409.1
1         60  2020/12/02  117.0     145.0     479.0
2         60  2020/12/03  103.0     135.0     340.0
3         45  2020/12/04  109.0     175.0     282.4
4         45  2020/12/05  117.0     148.0     406.0
5         60  2020/12/06  102.0     127.0     300.0
6         60  2020/12/07  110.0     136.0     374.0
7        450  2020/12/08  104.0     134.0     253.3
8         30  2020/12/09  109.0     133.0     195.1
9         60  2020/12/10   98.0     124.0     269.0
10        60  2020/12/11  103.0     147.0     329.3
11        60  2020/12/12  100.0     120.0     250.7
12        60  2020/12/12  100.0     120.0     250.7
13        60  2020/12/13  106.0     128.0     345.3
14        60  2020/12/14  104.0     132.0     379.3
15        60  2020/12/15   98.0     123.0     275.0
16        60  2020/12/16   98.0     120.0     215.2
17        60  2020/12/17  100.0     120.0     300.0
18        45  2020/12/18   90.0     112.0     291.2
19        60  2020/12/19  103.0     123.0     323.0
20        45  2020/12/20   97.0     125.0     243.0
21        60  2020/12/21  108.0     131.0     364.2
22        45         NaN  100.0     119.0     282.0
23        60  2020/12/23    NaN     101.0     300.0
24        45  2020/12/24  105.0     132.0     246.0
25        60  2020/12/25  102.0     126.0     334.5
26        60  2020/12/26  100.0     120.0     250.0
27        60  2020/12/27   92.0     118.0     241.0
28        60  2020/12/28  103.0     132.0     291.2
29        60  2020/12/29  100.0     132.0     280.0
30        60  2020/12/30  102.0     129.0     380.3
31        60  2020/12/31   92.0     115.0     243.0

In [34]:
x=df["Calories"].mean()
df.fillna({"Calories":x},inplace=True)
print(df)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01  110.0       NaN     409.1
1         60  2020/12/02  117.0     145.0     479.0
2         60  2020/12/03  103.0     135.0     340.0
3         45  2020/12/04  109.0     175.0     282.4
4         45  2020/12/05  117.0     148.0     406.0
5         60  2020/12/06  102.0     127.0     300.0
6         60  2020/12/07  110.0     136.0     374.0
7        450  2020/12/08  104.0     134.0     253.3
8         30  2020/12/09  109.0     133.0     195.1
9         60  2020/12/10   98.0     124.0     269.0
10        60  2020/12/11  103.0     147.0     329.3
11        60  2020/12/12  100.0     120.0     250.7
12        60  2020/12/12  100.0     120.0     250.7
13        60  2020/12/13  106.0     128.0     345.3
14        60  2020/12/14  104.0     132.0     379.3
15        60  2020/12/15   98.0     123.0     275.0
16        60  2020/12/16   98.0     120.0     215.2
17        60  2020/12/17  100.0     120.0     300.0
18        45  2020/12/18   90.0     112.0     291.2
19        60  2020/12/19  103.0     123.0     323.0
20        45  2020/12/20   97.0     125.0     243.0
21        60  2020/12/21  108.0     131.0     364.2
22        45         NaN  100.0     119.0     282.0
23        60  2020/12/23    NaN     101.0     300.0
24        45  2020/12/24  105.0     132.0     246.0
25        60  2020/12/25  102.0     126.0     334.5
26        60  2020/12/26  100.0     120.0     250.0
27        60  2020/12/27   92.0     118.0     241.0
28        60  2020/12/28  103.0     132.0     291.2
29        60  2020/12/29  100.0     132.0     280.0
30        60  2020/12/30  102.0     129.0     380.3
31        60  2020/12/31   92.0     115.0     243.0

In [35]:
df['Date']=pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())
df.dropna(subset=['Date'],inplace=True)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       NaN     409.1
1         60 2020-12-02  117.0     145.0     479.0
2         60 2020-12-03  103.0     135.0     340.0
3         45 2020-12-04  109.0     175.0     282.4
4         45 2020-12-05  117.0     148.0     406.0
5         60 2020-12-06  102.0     127.0     300.0
6         60 2020-12-07  110.0     136.0     374.0
7        450 2020-12-08  104.0     134.0     253.3
8         30 2020-12-09  109.0     133.0     195.1
9         60 2020-12-10   98.0     124.0     269.0
10        60 2020-12-11  103.0     147.0     329.3
11        60 2020-12-12  100.0     120.0     250.7
12        60 2020-12-12  100.0     120.0     250.7
13        60 2020-12-13  106.0     128.0     345.3
14        60 2020-12-14  104.0     132.0     379.3
15        60 2020-12-15   98.0     123.0     275.0
16        60 2020-12-16   98.0     120.0     215.2
17        60 2020-12-17  100.0     120.0     300.0
18        45 2020-12-18   90.0     112.0     291.2
19        60 2020-12-19  103.0     123.0     323.0
20        45 2020-12-20   97.0     125.0     243.0
21        60 2020-12-21  108.0     131.0     364.2
22        45        NaT  100.0     119.0     282.0
23        60 2020-12-23    NaN     101.0     300.0
24        45 2020-12-24  105.0     132.0     246.0
25        60 2020-12-25  102.0     126.0     334.5
26        60 2020-12-26  100.0     120.0     250.0
27        60 2020-12-27   92.0     118.0     241.0
28        60 2020-12-28  103.0     132.0     291.2
29        60 2020-12-29  100.0     132.0     280.0
30        60 2020-12-30  102.0     129.0     380.3
31        60 2020-12-31   92.0     115.0     243.0

In [36]:
df.loc[7,'Duration']=45
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       NaN     409.1
1         60 2020-12-02  117.0     145.0     479.0
2         60 2020-12-03  103.0     135.0     340.0
3         45 2020-12-04  109.0     175.0     282.4
4         45 2020-12-05  117.0     148.0     406.0
5         60 2020-12-06  102.0     127.0     300.0
6         60 2020-12-07  110.0     136.0     374.0
7         45 2020-12-08  104.0     134.0     253.3
8         30 2020-12-09  109.0     133.0     195.1
9         60 2020-12-10   98.0     124.0     269.0
10        60 2020-12-11  103.0     147.0     329.3
11        60 2020-12-12  100.0     120.0     250.7
12        60 2020-12-12  100.0     120.0     250.7
13        60 2020-12-13  106.0     128.0     345.3
14        60 2020-12-14  104.0     132.0     379.3
15        60 2020-12-15   98.0     123.0     275.0
16        60 2020-12-16   98.0     120.0     215.2
17        60 2020-12-17  100.0     120.0     300.0
18        45 2020-12-18   90.0     112.0     291.2
19        60 2020-12-19  103.0     123.0     323.0
20        45 2020-12-20   97.0     125.0     243.0
21        60 2020-12-21  108.0     131.0     364.2
23        60 2020-12-23    NaN     101.0     300.0
24        45 2020-12-24  105.0     132.0     246.0
25        60 2020-12-25  102.0     126.0     334.5
26        60 2020-12-26  100.0     120.0     250.0
27        60 2020-12-27   92.0     118.0     241.0
28        60 2020-12-28  103.0     132.0     291.2
29        60 2020-12-29  100.0     132.0     280.0
30        60 2020-12-30  102.0     129.0     380.3
31        60 2020-12-31   92.0     115.0     243.0

In [37]:
for x in df.index:
    if df.loc[x,"Duration"]>50:
        df.loc[x,"Duration"]=50
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         50 2020-12-01  110.0       NaN     409.1
1         50 2020-12-02  117.0     145.0     479.0
2         50 2020-12-03  103.0     135.0     340.0
3         45 2020-12-04  109.0     175.0     282.4
4         45 2020-12-05  117.0     148.0     406.0
5         50 2020-12-06  102.0     127.0     300.0
6         50 2020-12-07  110.0     136.0     374.0
7         45 2020-12-08  104.0     134.0     253.3
8         30 2020-12-09  109.0     133.0     195.1
9         50 2020-12-10   98.0     124.0     269.0
10        50 2020-12-11  103.0     147.0     329.3
11        50 2020-12-12  100.0     120.0     250.7
12        50 2020-12-12  100.0     120.0     250.7
13        50 2020-12-13  106.0     128.0     345.3
14        50 2020-12-14  104.0     132.0     379.3
15        50 2020-12-15   98.0     123.0     275.0
16        50 2020-12-16   98.0     120.0     215.2
17        50 2020-12-17  100.0     120.0     300.0
18        45 2020-12-18   90.0     112.0     291.2
19        50 2020-12-19  103.0     123.0     323.0
20        45 2020-12-20   97.0     125.0     243.0
21        50 2020-12-21  108.0     131.0     364.2
23        50 2020-12-23    NaN     101.0     300.0
24        45 2020-12-24  105.0     132.0     246.0
25        50 2020-12-25  102.0     126.0     334.5
26        50 2020-12-26  100.0     120.0     250.0
27        50 2020-12-27   92.0     118.0     241.0
28        50 2020-12-28  103.0     132.0     291.2
29        50 2020-12-29  100.0     132.0     280.0
30        50 2020-12-30  102.0     129.0     380.3
31        50 2020-12-31   92.0     115.0     243.0

In [38]:
for x in df.index:
    if df.loc[x,"Duration"]==50:
        df.drop(x,inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
3         45 2020-12-04  109.0     175.0     282.4
4         45 2020-12-05  117.0     148.0     406.0
7         45 2020-12-08  104.0     134.0     253.3
8         30 2020-12-09  109.0     133.0     195.1
18        45 2020-12-18   90.0     112.0     291.2
20        45 2020-12-20   97.0     125.0     243.0
24        45 2020-12-24  105.0     132.0     246.0

In [39]:
#to drop duplicates if there
df.drop_duplicates(inplace=True)

In [40]:
high_pulse=df[df['Pulse']>110]
print(high_pulse)

   Duration       Date  Pulse  Maxpulse  Calories
4        45 2020-12-05  117.0     148.0     406.0

In [41]:
sorted_df=df.sort_values(by='Calories',ascending=False)
print(sorted_df)

    Duration       Date  Pulse  Maxpulse  Calories
4         45 2020-12-05  117.0     148.0     406.0
18        45 2020-12-18   90.0     112.0     291.2
3         45 2020-12-04  109.0     175.0     282.4
7         45 2020-12-08  104.0     134.0     253.3
24        45 2020-12-24  105.0     132.0     246.0
20        45 2020-12-20   97.0     125.0     243.0
8         30 2020-12-09  109.0     133.0     195.1

In [42]:
trainer_df=pd.DataFrame({'Date':['2020/12/01','2020/12/02','2020/12/03'],'Trainer':['Alex','Jordan','Taylor']})
trainer_df['Date'] = pd.to_datetime(trainer_df['Date'])
merged_df = pd.merge(df, trainer_df, on='Date', how='left')
print(merged_df)

   Duration       Date  Pulse  Maxpulse  Calories Trainer
0        45 2020-12-04  109.0     175.0     282.4     NaN
1        45 2020-12-05  117.0     148.0     406.0     NaN
2        45 2020-12-08  104.0     134.0     253.3     NaN
3        30 2020-12-09  109.0     133.0     195.1     NaN
4        45 2020-12-18   90.0     112.0     291.2     NaN
5        45 2020-12-20   97.0     125.0     243.0     NaN
6        45 2020-12-24  105.0     132.0     246.0     NaN

In [43]:
avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()
df['PulseRange'] = pd.cut(df['Pulse'], bins=[100, 110, 120, 130, 140, 150, 180])
grouped_stats = df.groupby('PulseRange', observed=False).agg({
    'Calories': 'mean',
    'Maxpulse': 'max'
})
print(grouped_stats)

            Calories  Maxpulse
PulseRange
(100, 110]     244.2     175.0
(110, 120]     406.0     148.0
(120, 130]       NaN       NaN
(130, 140]       NaN       NaN
(140, 150]       NaN       NaN
(150, 180]       NaN       NaN

In [44]:
df.rename(columns={'Maxpulse':'Max_Pulse'},inplace=True)

In [45]:
print(df.describe())

        Duration                           Date       Pulse   Max_Pulse  \
count   7.000000                              7    7.000000    7.000000
mean   42.857143  2020-12-12 13:42:51.428571392  104.428571  137.000000
min    30.000000            2020-12-04 00:00:00   90.000000  112.000000
25%    45.000000            2020-12-06 12:00:00  100.500000  128.500000
50%    45.000000            2020-12-09 00:00:00  105.000000  133.000000
75%    45.000000            2020-12-19 00:00:00  109.000000  141.000000
max    45.000000            2020-12-24 00:00:00  117.000000  175.000000
std     5.669467                            NaN    8.791229   19.933222

         Calories
count    7.000000
mean   273.857143
min    195.100000
25%    244.500000
50%    253.300000
75%    286.800000
max    406.000000
std     66.066831

In [46]:
print(merged_df['Trainer'].value_counts())

Series([], Name: count, dtype: int64)

In [47]:
df.query('Pulse>110 and Calories<400')
df[df['Calories'].between(200,500)]

    Duration       Date  Pulse  Max_Pulse  Calories      PulseRange
3         45 2020-12-04  109.0      175.0     282.4  (100.0, 110.0]
4         45 2020-12-05  117.0      148.0     406.0  (110.0, 120.0]
7         45 2020-12-08  104.0      134.0     253.3  (100.0, 110.0]
18        45 2020-12-18   90.0      112.0     291.2             NaN
20        45 2020-12-20   97.0      125.0     243.0             NaN
24        45 2020-12-24  105.0      132.0     246.0  (100.0, 110.0]

In [48]:
merged_df['Trainer']=merged_df['Trainer'].str.title()
merged_df[merged_df['Trainer'].str.contains('Alex',na=False)]

Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories, Trainer]
Index: []

In [49]:
retail=pd.read_csv(r"C:\Users\vedap\Downloads\OnlineRetail.csv",encoding='latin1')
print(retail.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [50]:
retail.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [51]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [52]:
retail.shape

(541909, 8)

In [53]:
retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [125]:
drop_retail=retail.dropna(subset=['CustomerID'])
print(drop_retail)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice CustomerID         Country
0        12/1/2010 8:26       2.55    17850.0  United Kingdom
1        12/1/2010 8:26       3.39    17850.0  United Kingdom
2        12/1/2010 8:26       2.75    17850.0  United Kingdom
3        12/1/2010 8:26       3.39    17850.0  United Kingdom
4        12/1/2010 8:26       3.39    17850.0  United Kingdom
...                 ...        ...        ...             ...
541904  12/9/2011 12:50       0.85    12680.0          France
541905  12/9/2011 12:50       2.10    12680.0          France
541906  12/9/2011 12:50       4.15    12680.0          France
541907  12/9/2011 12:50       4.15    12680.0          France
541908  12/9/2011 12:50       4.95    12680.0          France

[541909 rows x 8 columns]

In [131]:
replace_retail=retail.fillna("Unknown")
print(replace_retail)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice CustomerID         Country
0        12/1/2010 8:26       2.55    17850.0  United Kingdom
1        12/1/2010 8:26       3.39    17850.0  United Kingdom
2        12/1/2010 8:26       2.75    17850.0  United Kingdom
3        12/1/2010 8:26       3.39    17850.0  United Kingdom
4        12/1/2010 8:26       3.39    17850.0  United Kingdom
...                 ...        ...        ...             ...
541904  12/9/2011 12:50       0.85    12680.0          France
541905  12/9/2011 12:50       2.10    12680.0          France
541906  12/9/2011 12:50       4.15    12680.0          France
541907  12/9/2011 12:50       4.15    12680.0          France
541908  12/9/2011 12:50       4.95    12680.0          France

[541909 rows x 8 columns]

In [137]:
retail['InvoiceDate'] = pd.to_datetime(retail['InvoiceDate'], errors='coerce', format='mixed')
print(retail)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice CustomerID         Country
0      2010-12-01 08:26:00       2.55    17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75    17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
...                    ...        ...        ...             ...
541904 2011-12-09 12:50:00       0.85    12680.0          France
541905 2011-12-09 12:50:00       2.10    12680.0          France
541906 2011-12-09 12:50:00       4.15    12680.0          France
541907 2011-12-09 12:50:00       4.15    12680.0          France
541908 2011-12-09 12:50:00       4.95    12680.0          France

[541909 rows x 8 columns]

In [139]:
retail_dropdate = retail.dropna(subset=['InvoiceDate'])
print(retail_dropdate)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice CustomerID         Country
0      2010-12-01 08:26:00       2.55    17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75    17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
...                    ...        ...        ...             ...
541904 2011-12-09 12:50:00       0.85    12680.0          France
541905 2011-12-09 12:50:00       2.10    12680.0          France
541906 2011-12-09 12:50:00       4.15    12680.0          France
541907 2011-12-09 12:50:00       4.15    12680.0          France
541908 2011-12-09 12:50:00       4.95    12680.0          France

[541909 rows x 8 columns]

In [141]:
negative_qty = retail[retail['Quantity'] < 0]
#retail = retail[retail['Quantity'] >= 0]
print(negative_qty)

       InvoiceNo StockCode                       Description  Quantity  \
141      C536379         D                          Discount        -1
154      C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235      C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236      C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237      C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24
...          ...       ...                               ...       ...
540449   C581490     23144   ZINC T-LIGHT HOLDER STARS SMALL       -11
541541   C581499         M                            Manual        -1
541715   C581568     21258        VICTORIAN SEWING BOX LARGE        -5
541716   C581569     84978  HANGING HEART JAR T-LIGHT HOLDER        -1
541717   C581569     20979     36 PENCILS TUBE RED RETROSPOT        -5

               InvoiceDate  UnitPrice CustomerID         Country
141    2010-12-01 09:41:00      27.50    14527.0  United Kingdom
154    2010-12-01 09:49:00       4.65    15311.0  United Kingdom
235    2010-12-01 10:24:00       1.65    17548.0  United Kingdom
236    2010-12-01 10:24:00       0.29    17548.0  United Kingdom
237    2010-12-01 10:24:00       0.29    17548.0  United Kingdom
...                    ...        ...        ...             ...
540449 2011-12-09 09:57:00       0.83    14397.0  United Kingdom
541541 2011-12-09 10:28:00     224.69    15498.0  United Kingdom
541715 2011-12-09 11:57:00      10.95    15311.0  United Kingdom
541716 2011-12-09 11:58:00       1.25    17315.0  United Kingdom
541717 2011-12-09 11:58:00       1.25    17315.0  United Kingdom

[10624 rows x 8 columns]

In [143]:
bad_prices = retail[retail['UnitPrice'] <= 0]
#retail = retail[retail['UnitPrice'] > 0]
print(bad_prices)

       InvoiceNo StockCode                   Description  Quantity  \
622       536414     22139                       Unknown        56
1970      536545     21134                       Unknown         1
1971      536546     22145                       Unknown         1
1972      536547     37509                       Unknown         1
1987      536549    85226A                       Unknown         1
...          ...       ...                           ...       ...
536981    581234     72817                       Unknown        27
538504    581406    46000M  POLYESTER FILLER PAD 45x45cm       240
538505    581406    46000S  POLYESTER FILLER PAD 40x40cm       300
538554    581408     85175                       Unknown        20
538919    581422     23169                       smashed      -235

               InvoiceDate  UnitPrice CustomerID         Country
622    2010-12-01 11:52:00        0.0    Unknown  United Kingdom
1970   2010-12-01 14:32:00        0.0    Unknown  United Kingdom
1971   2010-12-01 14:33:00        0.0    Unknown  United Kingdom
1972   2010-12-01 14:33:00        0.0    Unknown  United Kingdom
1987   2010-12-01 14:34:00        0.0    Unknown  United Kingdom
...                    ...        ...        ...             ...
536981 2011-12-08 10:33:00        0.0    Unknown  United Kingdom
538504 2011-12-08 13:58:00        0.0    Unknown  United Kingdom
538505 2011-12-08 13:58:00        0.0    Unknown  United Kingdom
538554 2011-12-08 14:06:00        0.0    Unknown  United Kingdom
538919 2011-12-08 15:24:00        0.0    Unknown  United Kingdom

[2517 rows x 8 columns]

In [145]:
duplicates = retail[retail.duplicated(subset=['InvoiceNo', 'StockCode'], keep=False)]
print(duplicates)

       InvoiceNo StockCode                      Description  Quantity  \
113       536381     71270                  PHOTO CLIP LINE         1
125       536381     71270                  PHOTO CLIP LINE         3
483       536409    90199C  5 STRAND GLASS NECKLACE CRYSTAL         3
485       536409     22111     SCOTTIE DOG HOT WATER BOTTLE         1
489       536409     22866    HAND WARMER SCOTTY DOG DESIGN         1
...          ...       ...                              ...       ...
541692    581538     22992           REVOLVER WOODEN RULER          1
541697    581538     21194        PINK  HONEYCOMB PAPER FAN         1
541698    581538    35004B      SET OF 3 BLACK FLYING DUCKS         1
541699    581538     22694                     WICKER STAR          1
541701    581538     23343     JUMBO BAG VINTAGE CHRISTMAS          1

               InvoiceDate  UnitPrice CustomerID         Country
113    2010-12-01 09:41:00       1.25    15311.0  United Kingdom
125    2010-12-01 09:41:00       1.25    15311.0  United Kingdom
483    2010-12-01 11:45:00       6.35    17908.0  United Kingdom
485    2010-12-01 11:45:00       4.95    17908.0  United Kingdom
489    2010-12-01 11:45:00       2.10    17908.0  United Kingdom
...                    ...        ...        ...             ...
541692 2011-12-09 11:34:00       1.95    14446.0  United Kingdom
541697 2011-12-09 11:34:00       0.65    14446.0  United Kingdom
541698 2011-12-09 11:34:00       5.45    14446.0  United Kingdom
541699 2011-12-09 11:34:00       2.10    14446.0  United Kingdom
541701 2011-12-09 11:34:00       2.08    14446.0  United Kingdom

[20378 rows x 8 columns]

In [147]:
retail = retail.drop_duplicates(subset=['InvoiceNo', 'StockCode'], keep='first')
print(retail)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice CustomerID         Country
0      2010-12-01 08:26:00       2.55    17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75    17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
...                    ...        ...        ...             ...
541904 2011-12-09 12:50:00       0.85    12680.0          France
541905 2011-12-09 12:50:00       2.10    12680.0          France
541906 2011-12-09 12:50:00       4.15    12680.0          France
541907 2011-12-09 12:50:00       4.15    12680.0          France
541908 2011-12-09 12:50:00       4.95    12680.0          France

[531225 rows x 8 columns]

In [149]:
filter_retail=retail[retail['Quantity']>1000]
print(filter_retail)

       InvoiceNo StockCode                        Description  Quantity  \
4850      536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
4945      536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
4946      536830     21915             RED  HARMONICA IN BOX       1400
6365      536890    17084R              ASSORTED INCENSE PACK      1440
16435     537659     22189            CREAM HEART CARD HOLDER      1008
...          ...       ...                                ...       ...
533812    581115     22413    METAL SIGN TAKE IT OR LEAVE IT       1404
534952    581175     23084                 RABBIT NIGHT LIGHT      1440
540070    581458     22197                     POPCORN HOLDER      1500
540071    581459     22197                     POPCORN HOLDER      1200
540421    581483     23843        PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice CustomerID         Country
4850   2010-12-02 16:48:00       0.55    15299.0  United Kingdom
4945   2010-12-02 17:38:00       0.18    16754.0  United Kingdom
4946   2010-12-02 17:38:00       1.06    16754.0  United Kingdom
6365   2010-12-03 11:48:00       0.16    14156.0            EIRE
16435  2010-12-07 16:43:00       2.31    18102.0  United Kingdom
...                    ...        ...        ...             ...
533812 2011-12-07 12:20:00       2.75    15195.0  United Kingdom
534952 2011-12-07 15:16:00       1.79    14646.0     Netherlands
540070 2011-12-08 18:45:00       0.72    17949.0  United Kingdom
540071 2011-12-08 18:46:00       0.72    17949.0  United Kingdom
540421 2011-12-09 09:15:00       2.08    16446.0  United Kingdom

[115 rows x 8 columns]

In [159]:
retail['TotalPrice']=retail['UnitPrice']*retail['Quantity']
sorted_retail=retail.sort_values(by='TotalPrice',ascending=False)
print(sorted_retail)

       InvoiceNo  StockCode                     Description  Quantity  \
540421    581483      23843     PAPER CRAFT , LITTLE BIRDIE     80995
61619     541431      23166  MEDIUM CERAMIC TOP STORAGE JAR     74215
222680    556444      22502  PICNIC BASKET WICKER 60 PIECES        60
15017     537632  AMAZONFEE                      AMAZON FEE         1
299982   A563185          B                 Adjust bad debt         1
...          ...        ...                             ...       ...
43702    C540117  AMAZONFEE                      AMAZON FEE        -1
524602   C580605  AMAZONFEE                      AMAZON FEE        -1
222681   C556445          M                          Manual        -1
61624    C541433      23166  MEDIUM CERAMIC TOP STORAGE JAR    -74215
540422   C581484      23843     PAPER CRAFT , LITTLE BIRDIE    -80995

               InvoiceDate  UnitPrice CustomerID         Country  TotalPrice
540421 2011-12-09 09:15:00       2.08    16446.0  United Kingdom   168469.60
61619  2011-01-18 10:01:00       1.04    12346.0  United Kingdom    77183.60
222680 2011-06-10 15:28:00     649.50    15098.0  United Kingdom    38970.00
15017  2010-12-07 15:08:00   13541.33    Unknown  United Kingdom    13541.33
299982 2011-08-12 14:50:00   11062.06    Unknown  United Kingdom    11062.06
...                    ...        ...        ...             ...         ...
43702  2011-01-05 09:55:00   16888.02    Unknown  United Kingdom   -16888.02
524602 2011-12-05 11:36:00   17836.46    Unknown  United Kingdom   -17836.46
222681 2011-06-10 15:31:00   38970.00    15098.0  United Kingdom   -38970.00
61624  2011-01-18 10:17:00       1.04    12346.0  United Kingdom   -77183.60
540422 2011-12-09 09:27:00       2.08    16446.0  United Kingdom  -168469.60

[531225 rows x 9 columns]

In [161]:
product_info = pd.DataFrame({
    'StockCode': ['10001', '10002', '10003', '10004'],
    'Category': ['Stationery', 'Electronics', 'Furniture', 'Toys'],
    'Supplier': ['SupplierA', 'SupplierB', 'SupplierC', 'SupplierD']
})
retail = retail.merge(product_info, on='StockCode', how='left')
print(retail)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
531220    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
531221    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
531222    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
531223    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
531224    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice CustomerID         Country  TotalPrice  \
0      2010-12-01 08:26:00       2.55    17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00       3.39    17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00       2.75    17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00       3.39    17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00       3.39    17850.0  United Kingdom       20.34
...                    ...        ...        ...             ...         ...
531220 2011-12-09 12:50:00       0.85    12680.0          France       10.20
531221 2011-12-09 12:50:00       2.10    12680.0          France       12.60
531222 2011-12-09 12:50:00       4.15    12680.0          France       16.60
531223 2011-12-09 12:50:00       4.15    12680.0          France       16.60
531224 2011-12-09 12:50:00       4.95    12680.0          France       14.85

       Category Supplier
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
...         ...      ...
531220      NaN      NaN
531221      NaN      NaN
531222      NaN      NaN
531223      NaN      NaN
531224      NaN      NaN

[531225 rows x 11 columns]

In [163]:
country_summary = retail.groupby('Country').agg(
    TotalRevenue=('TotalPrice', 'sum'),
    MeanRevenue=('TotalPrice', 'mean'),
    OrderCount=('InvoiceNo', 'nunique')
).reset_index()
print(country_summary)

                 Country  TotalRevenue  MeanRevenue  OrderCount
0              Australia    136976.570   108.971018          69
1                Austria     10154.320    25.322494          19
2                Bahrain       548.400    28.863158           4
3                Belgium     40910.960    19.773301         119
4                 Brazil      1143.600    35.737500           1
5                 Canada      3666.380    24.280662           6
6        Channel Islands     20076.390    26.520991          33
7                 Cyprus     12726.760    20.966656          20
8         Czech Republic       707.720    23.590667           5
9                Denmark     18726.890    48.265180          21
10                  EIRE    261773.960    32.005619         360
11    European Community      1291.750    21.176230           5
12               Finland     22125.140    32.019016          48
13                France    197207.540    23.146425         461
14               Germany    221004.020    23.347139         603
15                Greece      4710.520    32.263836           6
16             Hong Kong      9721.040    34.967770          15
17               Iceland      4310.000    23.681319           7
18                Israel      7897.820    26.955017           9
19                 Italy     16890.510    21.034259          55
20                 Japan     35340.620    98.716816          28
21               Lebanon      1693.880    37.641778           1
22             Lithuania      1661.060    47.458857           4
23                 Malta      2505.470    19.728110          10
24           Netherlands    284661.540   120.059696         101
25                Norway     34883.410    32.239750          40
26                Poland      7213.140    21.152903          24
27              Portugal     29180.120    19.518475          71
28                   RSA      1002.310    17.281207           1
29          Saudi Arabia       131.170    13.117000           2
30             Singapore      9120.390    41.268733          10
31                 Spain     54649.670    21.755442         105
32                Sweden     36585.410    79.360976          46
33           Switzerland     56269.700    28.419040          74
34                   USA      1730.920     5.948179           7
35  United Arab Emirates      1902.280    27.974706           3
36        United Kingdom   8127533.063    16.757558       23494
37           Unspecified      4697.480    10.848684          13

In [165]:
bins = [0, 5, 20, retail['UnitPrice'].max()]
labels = ['Cheap', 'Medium', 'Expensive']
retail['PriceRange'] = pd.cut(retail['UnitPrice'], bins=bins, labels=labels, include_lowest=True)
print(retail[['UnitPrice', 'PriceRange']].head())

   UnitPrice PriceRange
0       2.55      Cheap
1       3.39      Cheap
2       2.75      Cheap
3       3.39      Cheap
4       3.39      Cheap

In [167]:
price_summary = retail.groupby('PriceRange').agg(
    Purchases=('InvoiceNo', 'count'),
    AvgRevenue=('TotalPrice', 'mean')
).reset_index()
print(price_summary)

  PriceRange  Purchases  AvgRevenue
0      Cheap     444121   16.772969
1     Medium      82987   25.790775
2  Expensive       4115   28.172333

C:\Users\vedap\AppData\Local\Temp\ipykernel_22068\4153120252.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_summary = retail.groupby('PriceRange').agg(

In [175]:
corr_matrix = retail[['Quantity', 'UnitPrice', 'TotalPrice']].corr()
print(corr_matrix)

            Quantity  UnitPrice  TotalPrice
Quantity    1.000000  -0.001234    0.886883
UnitPrice  -0.001234   1.000000   -0.162576
TotalPrice  0.886883  -0.162576    1.000000

In [177]:
retail=retail.rename(columns={'StockCode':'Product_ID','UnitPrice':'Price'})
print(retail)

       InvoiceNo Product_ID                          Description  Quantity  \
0         536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365      71053                  WHITE METAL LANTERN         6
2         536365     84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365     84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...        ...                                  ...       ...
531220    581587      22613          PACK OF 20 SPACEBOY NAPKINS        12
531221    581587      22899         CHILDREN'S APRON DOLLY GIRL          6
531222    581587      23254        CHILDRENS CUTLERY DOLLY GIRL          4
531223    581587      23255      CHILDRENS CUTLERY CIRCUS PARADE         4
531224    581587      22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  Price CustomerID         Country  TotalPrice  \
0      2010-12-01 08:26:00   2.55    17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00   2.75    17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
...                    ...    ...        ...             ...         ...
531220 2011-12-09 12:50:00   0.85    12680.0          France       10.20
531221 2011-12-09 12:50:00   2.10    12680.0          France       12.60
531222 2011-12-09 12:50:00   4.15    12680.0          France       16.60
531223 2011-12-09 12:50:00   4.15    12680.0          France       16.60
531224 2011-12-09 12:50:00   4.95    12680.0          France       14.85

       Category Supplier PriceRange
0           NaN      NaN      Cheap
1           NaN      NaN      Cheap
2           NaN      NaN      Cheap
3           NaN      NaN      Cheap
4           NaN      NaN      Cheap
...         ...      ...        ...
531220      NaN      NaN      Cheap
531221      NaN      NaN      Cheap
531222      NaN      NaN      Cheap
531223      NaN      NaN      Cheap
531224      NaN      NaN      Cheap

[531225 rows x 12 columns]

In [181]:
retail['Description'] = retail['Description'].str.lower()
glass_items = retail[retail['Description'].str.contains('glass', na=False)]
mug_items = retail[retail['Description'].str.contains('mug', na=False)]
glass_mug_items = retail[retail['Description'].str.contains('glass|mug', case=False, na=False)]
print(retail)

       InvoiceNo Product_ID                          Description  Quantity  \
0         536365     85123A   white hanging heart t-light holder         6
1         536365      71053                  white metal lantern         6
2         536365     84406B       cream cupid hearts coat hanger         8
3         536365     84029G  knitted union flag hot water bottle         6
4         536365     84029E       red woolly hottie white heart.         6
...          ...        ...                                  ...       ...
531220    581587      22613          pack of 20 spaceboy napkins        12
531221    581587      22899         children's apron dolly girl          6
531222    581587      23254        childrens cutlery dolly girl          4
531223    581587      23255      childrens cutlery circus parade         4
531224    581587      22138        baking set 9 piece retrospot          3

               InvoiceDate  Price CustomerID         Country  TotalPrice  \
0      2010-12-01 08:26:00   2.55    17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00   2.75    17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00   3.39    17850.0  United Kingdom       20.34
...                    ...    ...        ...             ...         ...
531220 2011-12-09 12:50:00   0.85    12680.0          France       10.20
531221 2011-12-09 12:50:00   2.10    12680.0          France       12.60
531222 2011-12-09 12:50:00   4.15    12680.0          France       16.60
531223 2011-12-09 12:50:00   4.15    12680.0          France       16.60
531224 2011-12-09 12:50:00   4.95    12680.0          France       14.85

       Category Supplier PriceRange
0           NaN      NaN      Cheap
1           NaN      NaN      Cheap
2           NaN      NaN      Cheap
3           NaN      NaN      Cheap
4           NaN      NaN      Cheap
...         ...      ...        ...
531220      NaN      NaN      Cheap
531221      NaN      NaN      Cheap
531222      NaN      NaN      Cheap
531223      NaN      NaN      Cheap
531224      NaN      NaN      Cheap

[531225 rows x 12 columns]

In [183]:
numeric_summary = retail.describe()
print(numeric_summary)

            Quantity                    InvoiceDate          Price  \
count  531225.000000                         531225  531225.000000
mean        9.671813  2011-07-04 02:50:33.216885504       4.622697
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 10:14:00       1.250000
50%         3.000000            2011-07-19 11:47:00       2.080000
75%        10.000000            2011-10-18 15:22:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       220.235377                            NaN      97.474552

          TotalPrice
count  531225.000000
mean       18.228306
min   -168469.600000
25%         3.750000
50%         9.900000
75%        17.700000
max    168469.600000
std       382.498316

In [189]:
val_counts = retail[['Country','Category']].value_counts()
print(val_counts)

Country         Category
United Kingdom  Electronics    60
France          Electronics     8
EIRE            Electronics     1
Germany         Electronics     1
Japan           Electronics     1
Spain           Electronics     1
Switzerland     Electronics     1
Name: count, dtype: int64

In [195]:
retail['TotalPrice'] = retail['Quantity'] * retail['Price']
high_value_orders = retail.query("TotalPrice > 1000 and Country == 'Germany'")
print(high_value_orders.head())

Empty DataFrame
Columns: [InvoiceNo, Product_ID, Description, Quantity, InvoiceDate, Price, CustomerID, Country, TotalPrice, Category, Supplier, PriceRange, totalPrice]
Index: []

In [197]:
medium_quantity_orders = retail[retail['Quantity'].between(10, 100)]
print(medium_quantity_orders.head())

   InvoiceNo Product_ID                      Description  Quantity  \
9     536367      84879    assorted colour bird ornament        32
26    536370      22728        alarm clock bakelike pink        24
27    536370      22727        alarm clock bakelike red         24
28    536370      22726       alarm clock bakelike green        12
29    536370      21724  panda and bunnies sticker sheet        12

           InvoiceDate  Price CustomerID         Country  TotalPrice Category  \
9  2010-12-01 08:34:00   1.69    13047.0  United Kingdom       54.08      NaN
26 2010-12-01 08:45:00   3.75    12583.0          France       90.00      NaN
27 2010-12-01 08:45:00   3.75    12583.0          France       90.00      NaN
28 2010-12-01 08:45:00   3.75    12583.0          France       45.00      NaN
29 2010-12-01 08:45:00   0.85    12583.0          France       10.20      NaN

   Supplier PriceRange  totalPrice
9       NaN      Cheap       54.08
26      NaN      Cheap       90.00
27      NaN      Cheap       90.00
28      NaN      Cheap       45.00
29      NaN      Cheap       10.20

In [201]:
retail.to_csv('cleaned_retail_data.csv', index=False)